<!DOCTYPE html> 

@using A60Insurance.StyleFeature

@inject IScreenStyleManager screenStyleManager;
@inject IScreenStyleFactory screenStyleFactory;


@{
    // added 
    var signedOut = true;
    var showColorLink = false;
    var showStyleLink = false;


    // format date and time
    var current = System.DateTime.Now;
    var friendlyDate = current.ToString("t") +
        " " +
        current.ToString("D");

    //bool signedOut = true;
    var check = TempData["CustomerId"];
    if (check != null) { signedOut = false; }

    // determin if style and color links should be showwn.

   // bool showStyleLink = false;
   // bool showColorLink = false;
    String colorLinkColor = "white";
    var path = Context.Request.Path.ToString();
    var currentScreen = "";
    var backslash = @"/";
    var index = path.LastIndexOf(backslash);
    if (index < path.Length - 1)
    {
        currentScreen = path.Substring(index + 1);
    }
    currentScreen = currentScreen.ToLower();
    TempData["currentScreen"] = currentScreen;
    TempData.Keep();
    //
    var internalClass = "Style";

    // set margin left to 60px - reduce on solid or outline to allow space
    var marginLeft = "60px";

    var usesStyles = screenStyleManager.AreStylesActive(currentScreen);
    if (usesStyles)
    {
        showStyleLink = true;


        // now, are colors being used as current style if yes show color link and color the link.

        // * important: each screen using the style feature is required
        // * to reload the style list from tempdata
        // * that happens before this code is exectuted so the screenstyle list
        // * will be ready to search.

        var screenStyleObject = screenStyleFactory.getCurrentStyleForScreen(currentScreen);
        if (screenStyleObject != null)
        {
            internalClass = screenStyleObject.internalClass;
            var colorLinkStyle = "margin-left: @marginLeft";
            if (internalClass == "Outline" || internalClass == "Solid")
            {
                showColorLink = true;
                colorLinkColor = screenStyleObject.userColor;
                colorLinkStyle = $"margin-left: @marginLeft;{colorLinkColor};";
            }

            // reduce class so line 1 fits properly
            if (internalClass == "Solid" || internalClass == "Outline")
            {
                marginLeft = "40px";
            }
        }
        else
        {
            showColorLink = false;
        }
    }

}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - A60Insurance</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> 
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <a class="navbar-brand"
                   style="color: burlywood; margin-left:10%"
                   asp-area="" asp-controller="Home" 
                   asp-action="Index">A60Insurance</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <ul class="navbar-nav flex-grow-1">

                            

                          @if (signedOut)  // signed out links
                            {

                                <li style="margin-left: @marginLeft" class="nav-item">
                                    <!-- start screen in index so begins there. -->
                                    <a class="b3 nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Start</a>
                                </li>
                                <li style="margin-left: @marginLeft" class="nav-item">
                                    <a class="b3 nav-link text-light" asp-area="" asp-controller="Home" asp-action="Classic">Classic</a>
                                </li>
                                <li style="margin-left: @marginLeft" class="nav-item">
                                    <a class="b3 nav-link text-light" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                                </li>
                                <li style="margin-left: @marginLeft" class="nav-item">
                                    <a class="b3 nav-link text-light" asp-area="" asp-controller="Home" asp-action="Signin">Sign in</a>
                                </li>
                                <li style="margin-left: @marginLeft" class="nav-item">
                                    <a class="b3 nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About</a>
                                </li>

                                <li style="margin-left: @marginLeft" class="nav-item">
                                    <a class="b3 nav-link text-light" asp-area="" asp-controller="Home" asp-action="AdminSignin">Admin</a>
                                </li>

                            }
                            else
                            {

                                /* signed in links */

                                <li class="nav-item">
                                    <a style="margin-left: @marginLeft" class="b3 nav-link text-light" asp-area="" asp-controller="Home" asp-action="Menu">Menu</a>
                                </li>
                                <li class="nav-item">
                                    <a style="margin-left: @marginLeft" class="b3 nav-link text-light" asp-area="" asp-controller="Home" asp-action="Update">Update</a>
                                </li>
                                <li class="nav-item">
                                    <a style="margin-left: @marginLeft" class="b3 nav-link text-light" asp-area="" asp-controller="Home" asp-action="Claim">Claim</a>
                                </li>

                                <li class="nav-item">
                                    <a style="margin-left: @marginLeft" class="b3 nav-link text-light" asp-area="" asp-controller="Home" asp-action="History">History</a>
                                </li>

                                <!-- style and color links -->
                                @if (showStyleLink)
                                {
                                    <li class="nav-item">
                                        <a style="margin-left: @marginLeft" class="b3 nav-link text-light" asp-area="" asp-controller="Home" asp-action="GetNextStyle">@internalClass</a>
                                    </li>

                                }

                                if (showColorLink)
                                {
                                    <li class="nav-item">
                                        <a style="margin-left: @marginLeft; color: @colorLinkColor" class="b3 nav-link" asp-area="" asp-controller="Home" asp-action="GetNextColor">@colorLinkColor</a>
                                    </li>
                                }

                                <li class="nav-item">
                                    <a style="margin-left: @marginLeft" class="b3 nav-link text-light" asp-area="" asp-controller="Home" asp-action="Signout">Signout</a>
                                </li>

                                <!-- signed in .... show name and customer id. -->
                                String custId = TempData["CustomerID"] as String;
                                String custFirst = TempData["custFirst"] as String;
                                String custLast = TempData["custLast"] as String;
                                custId = custId.Trim();
                                custFirst = custFirst.Trim();
                                custLast = custLast.Trim();

                                var showCust = custId + " * " + custFirst + " " + custLast;
                                var show = showCust;
                                <li class="nav-item" style="color:burlywood"><a style="color:burlywood" class="b3 nav-link" asp-area="" asp-controller="Home" asp-action="Update">@show</a></li>


                            }


                        </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
