@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model A60Insurance.Models.AdminAction
@{
    ViewData["Title"] = "Admin Action";
    var message = ViewData["Message"];
}

<style>

    label {font-family:Arial; font-size:large;}

    .a1 { margin-top: 20px; }

    .left1 { margin-left: 10px;}

</style>

<form asp-action="AdminAction"> 

    <div class="container">

   
        <h2 style="margin-left:340px; margin-top:40px; margin-bottom: 40px; color:burlywood">Admin Action</h2>

        <div style='margin-left: 340px'>

            <div class="row">
                <div class="col-3">

                        <label style="color:dodgerblue;" asp-for="@Model.CustomerId" class="st1 control-label">Customer Id:</label> 
                        <input asp-for="@Model.CustomerId" class="form-control" placeholder="Customer Id" type="text" /> 
                </div>
            </div>

            <div class="a1 row"> 
                <div class="col-3"> 

                         <label style="color:dodgerblue;" asp-for="@Model.NewPassword" class="st1 control-label">New Password:</label>  
                         <input asp-for="@Model.NewPassword" class="form-control" placeholder="New Password" type="text" /> 
                </div>
                <div class="col-3"> 

                        <label style="color:dodgerblue;" asp-for="@Model.NewPassword2" class="st1 control-label">Confirm New Password:</label> 
                        <input asp-for="@Model.NewPassword2" class="form-control" placeholder="Confirm Password" type="text" />
                        
                </div> 
            </div>

            <div class="a1 row">

                <div class="col-3"> 

                        <label style="color:dodgerblue;" asp-for="@Model.NewCustomerId" class="st1 control-label">New Customer Id:</label> 
                        <input asp-for="@Model.NewCustomerId" class="form-control" placeholder="New Customer Id:" type="text" />
                         
                </div>
                <div class="col-3"> 

                        <label style="color:dodgerblue;" asp-for="@Model.NewCustomerId2" class="st1 control-label">Confirm New Customer Id:</label> 
                        <input asp-for="@Model.NewCustomerId2" class="form-control" placeholder="Confirm New Customer Id:" type="text" />
                        
                </div>
            </div>




            <br />
            <div style="display:inline-block; margin-left: 30px;">  

                    <button id="sub" name="sub" type="submit" class="btn btn-primary" value="ListCustomers">List Customers</button> 
                    <button id="sub" name="sub" type="submit" class="left1 btn btn-primary" value="ResetPassword">Reset Password</button> 
                    <button id="sub" name="sub" type="submit" class="left1 btn btn-primary" value="ResetCustomerId">Reset Customer Id</button>
                
            </div> 

            <br /> 
            <div style="color:white; margin-left: 30px;"> 
                @Html.ValidationSummary() 
                <p style="color:white">@message</p> 
            </div>  
        </div>  
    </div>

</form>











