@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model A60Insurance.Models.AdminSignin
@{
    ViewData["Title"] = "Admin Signin";
}

@* from March 19 2022*@


<style>

    .st1 {
        font-family: Arial;
        font-size: larger;
    }
</style>


<form asp-action="AdminSignin"> 

    <div class="container">

        <h2 style="margin-left:440px; margin-top:40px; margin-bottom: 40px; color:burlywood">Admin Sign In</h2>

        <div style='margin-left: 480px'>
             
                     <div class="row" justify-content-center">
                        <div class="col-3"> 
                            <label style="color:dodgerblue;" asp-for="@Model.AdminId" class="st1 control-label">Admin Id:</label> 
                            <input class="st1 form-control" asp-for="@Model.AdminId"  placeholder="Admin Id" type="text" />
                       
                       </div>
                    </div>
                    <br />
                    <div class="row" justify-content-center">
                        <div class="col-3"> 

                            <label style="color:dodgerblue;" asp-for="@Model.Password" class="st1 control-label">Password:</label> 
                            <input class="st1 form-control" asp-for="@Model.Password"  placeholder="Password" type="password" />
                       </div>
                    </div> 
          </div>


            <br />
        

            <div   style="color:lawngreen; margin-left: 480px;">
                <button type="submit" class="b1 btn btn-primary">Sign In</button>
            </div>
                 


            <br /> 

            <div class="st1" style="color:white; margin-left: 480px;">


                @Html.ValidationSummary()

                <p style="color:white">@ViewData["Message"]</p>


            </div>
                 



        </div>

    </div>


</form>










