@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using A60Insurance.StyleFeature

@* Cust has no CustomerId - used for update screen only.*@

@model A60Insurance.Models.Cust
@inject IScreenStyleFactory screenStyleFactory  

@{
    ViewData["Title"] = "Update";
    String message = ViewData["message"] as string;
    if(message == null)
    {
        message = "Enter Update information.";
    }

}


@{
    List<SelectListItem> States = new List<SelectListItem>()
{
            new SelectListItem { Text = "WA", Value = "WA" },
            new SelectListItem { Text = "CA", Value = "CA" }
    };


    List<SelectListItem> Genders = new List<SelectListItem>()
{

           new SelectListItem { Text = "M", Value = "M"},
           new SelectListItem { Text = "F", Value = "F"}

    };
     

    // get class for form. 
    var externalClass = "bg-style";
    var labelColor = "dodgerblue";
    var userColor = "white";
    var messageColor = "gold";
    var headerColor = "gold";
    var screenStyleObject = screenStyleFactory.getCurrentStyleForScreen("update");
    if (screenStyleObject != null)
    {
         externalClass = screenStyleObject.externalClass;
         // for color styles: outline and solid the
         // java script will set the four colors
         // including: header, label and message colors.
         userColor = screenStyleObject.userColor;
         labelColor = screenStyleObject.labelColor;
         headerColor = screenStyleObject.headerColor;
         messageColor = screenStyleObject.messageColor;
    }
} 


@using (Html.BeginForm("Update", "Home", FormMethod.Post))
{


    <div id="FormStyleClass" class="@externalClass">

        <h4 id="UpdateScreen" margin="50px" align="center" style="color:@headerColor">Update Customer</h4>
        <br />
        <div style="margin-left:125px;">

            <div class="row justify-content-md-left">
                <div class="col-xs-3">
                    <label style="color:@labelColor;" asp-for="@Model.CustFirst" class="st1 control-label">First Name:</label>
                    <input asp-for="@Model.CustFirst" class="form-control" placeholder="First Name" type="text" />
                </div>
                <div class="col-xs-3">
                    <label style="color:@labelColor;" asp-for="@Model.CustMiddle" class="st1 control-label">Middle Name:</label>
                    <input asp-for="@Model.CustMiddle" class="form-control" placeholder="Middle Name" type="text" />
                </div>
                <div class="col-xs-3">
                    <label style="color:@labelColor;" asp-for="@Model.CustLast" class="st1 control-label">Last Name:</label>
                    <input asp-for="@Model.CustLast" class="form-control" placeholder="Last Name" type="text" />
                </div>
                <div class="col-xs-3">
                    <label style="color:@labelColor;" asp-for="@Model.CustPassword" class="st1 control-label">Password:</label>
                    <input asp-for="@Model.CustPassword" class="form-control" placeholder="Password" type="password" />
                </div>
                <div class="col-xs-3">
                    <label style="color:@labelColor;" asp-for="@Model.ConfirmPassword" class="st1 control-label">Confirm Password:</label>
                    <input asp-for="@Model.ConfirmPassword" class="form-control" placeholder="Password" type="password" />
                </div>
            </div> <!-- end row 1 -->

            <div class="row justify-content-md-left">
                <div class="col-xs-3">
                    <label style="color:@labelColor;" asp-for="@Model.CustEmail" class="st1 control-label">Email:</label>
                    <input asp-for="@Model.CustEmail" class="form-control" placeholder="Email" type="text" />
                </div>
                <div class="col-xs-3">
                    <label style="color:@labelColor;" asp-for="@Model.CustPhone" class="st1 control-label">Phone:</label>
                    <input asp-for="@Model.CustPhone" class="form-control" placeholder="Phone" type="text" />
                </div>
                <div class="col-xs-3">
                    <label style="color:@labelColor;" asp-for="@Model.ScreenBirthDate" class="st1 control-label">Birth Date:</label>
                    <input asp-for="@Model.ScreenBirthDate" class="form-control" placeholder="Birth Date" type="text" />
                </div>
                <div class="col-xs-3">
                    <label style="color:@labelColor;" asp-for="@Model.CustGender" class="st1 control-label">Gender:</label>
                    <select asp-for="@Model.CustGender" asp-items="@Genders " class="st1 form-control" placeholder="Gender"></select>
                </div>
            </div> <!-- end row 2 -->

            <div class="row justify-content-md-left">
                <div class="col-xs-3">
                    <label style="color:@labelColor;" asp-for="@Model.CustAddr1" class="st1 ontrol-label">Address 1:</label>
                    <input asp-for="@Model.CustAddr1" class="st1 form-control" placeholder="Address 1" type="text" />
                </div>
                <div class="col-xs-3">
                    <label style="color:@labelColor;" asp-for="@Model.CustAddr2" class="st1 control-label">Address 2:</label>
                    <input asp-for="@Model.CustAddr2" class="st1 form-control" placeholder="Address 2" type="text" />
                </div> 
                <div class="col-xs-3">
                    <label style="color:@labelColor;" asp-for="@Model.CustPlan" class="st1 control-label">Plan:</label>
                    <br><div style="margin-left: 15px;font-size:larger; color:white;">@Model.CustPlan</div>
                </div>
            </div> <!-- end row 3 --> 

            <div class="row justify-content-md-left">
                <div class="col-xs-3">
                    <label style="color:@labelColor;" asp-for="@Model.CustCity" class="st1 control-label">City:</label>
                    <input asp-for="@Model.CustCity" class="st1 form-control" placeholder="City" type="text" />
                </div>
                <div class="col-xs-3">
                    <label style="color:@labelColor;" asp-for="@Model.CustState" class="st1 control-label">State:</label>
                    <select asp-for="@Model.CustState" class="st1 form-control" placeholder="State" asp-items="@States"></select>
                </div>
                <div class="col-xs-3">
                    <label style="color:@labelColor;" asp-for="@Model.CustZip" class="st1 control-label">Zip:</label>
                    <input asp-for="@Model.CustZip" class="st1 form-control" placeholder="Zip" type="text" />
                </div>
            </div> <!-- end row 5 -->

            <div style="margin-top: 20px" class="row justify-content-md-left">
                <div class="col-md-3">
                    <button type="submit" class="b1 btn btn-primary">Update</button>
                </div>
                <div class="col-md-3">
                    <a type="button" class="b1 btn btn-primary" asp-controller="Home" asp-action="Menu">Menu</a>
                </div>
              
            </div> <!-- end row 6 -->

            <div style=" margin-top:20px " class="row justify-content-md-left">
                <div class="col-md-6">
                    <div style="color:@messageColor" asp-validation-summary="All">
                        <div style="color:goldenrod">@ViewData["Message"]</div>
                    </div>
                </div>
            </div> <!-- end row 7 -->

        </div>
    </div>

    <!-- color hidden fields for java script refernece -->
    <!-- see ColorSetup.htm for the java script. -->

    <div class="row"> 

    <input style="visibility:hidden"
           id="userColor"
           type="text"
           value="@userColor" />

    <input style="visibility:hidden"
           id="headerColor"
           type="text"
           value="@headerColor" />

    <input style="visibility:hidden"
           id="messageColor"
           type="text"
           value="@messageColor" />

    <input style="visibility:hidden"
           id="labelColor"
           type="text"
           value="@labelColor" />

        </div>

}







